* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #e7eaeb;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin: auto 0;
}
h1 {
  border-bottom: 2px solid #6071f1;
  border-right: 2px solid #6071f1;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 5px;
  width: 240px;
  margin: 5% 2% 1% 3%;
}

h2 {
  margin-left: 10px;
}

#nav-bar {
  border: 2px solid red;
}

nav a {
  text-decoration: none;
}

a {
  transition: all 750ms;
  color: #270091;
  animation: normal;
}

a:hover {
  color: rgba(0, 0, 0, 0.75);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1);
  color: #3a2a68;
}

#main {
  margin-right: 15%;
  margin-left: 15px;
  position: relative;
  padding-bottom: 2.5rem;
  min-height: 100vh;

  /* display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; */
}

.content {
  padding-bottom: 2.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px 50px;
  font-size: larger;
}

p {
  line-height: 150%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 5rem;
}

strong {
  font-weight: 1000;
}

li {
  list-style: none;
  line-height: 150%;
}

em {
  font-weight: 800;
  font-size: 2rem;
  color: blueviolet;
}

.sticky {
  position: fixed;
  top: 5px;
  width: 100%;
  background: linear-gradient(0deg, #d1d4ee 0%, #6071f1 100%);
  color: #d1d4ee;
  font-weight: 900;
  height: 5vh;
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 1.1em;
  margin: 0;
  margin-top: 10px;
}

.main-nav > li > a {
  color: #000000;
  font-weight: 600;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  margin-right: 15%;
  margin-left: 5%;
  line-height: 150%;
  font-size: larger;
}

.grid-wrapper {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 5px 15px;
  margin-left: 2%;
}

.box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2%;
  transition: all 150ms;
}

.box:hover {
  background-color: #ececec;
  transform: translateY(1px);
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
}

p {
  /* padding-top: 50px; */
  width: 100%;
}

.light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: #d1d4ee;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  animation-delay: 250ms;
  transform: translateX(-175%);
  transition-delay: 5s;
}

.sidebar-nav {
  width: 100%;
  transition: all 750ms;
  animation-delay: 250ms;
}

.sidebar-nav a {
  width: 100%;
  animation-delay: 250ms;
}

.ham-menu {
  display: none;
}

@media only screen and (max-width: 1200px) {
  p {
    /* display: flex; */
    /* font-size: 0.5em; */
    /* padding: 0; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-right: 0;
  }

  h1 {
    margin: 15% 2% 20% 20%;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(0deg, #d1d4ee 0%, #6071f1 100%);
    color: #d1d4ee;
  }

  .ham-menu {
    display: block;
    animation-delay: 250ms;
    transform: translateX(-100%);
    transition: transform 5000 ease;
  }

  .main-nav {
    display: flex;
    list-style: none;
    font-size: 1.1em;
    margin: 0;
    animation-delay: 250ms;
  }

  /* .sidebar {
    display: flex;
  } */

  /* .sticky {
    display: none;
  } */

  .responsive {
    display: none;
  }
}

.ham-menu {
  transition-delay: 5s;
  animation-delay: 250ms;
  transform: translateX(-100%);
}
/* .ham-menu-close:hover {
  cursor: pointer;
} */
